.field-horizontal
  = f.fields_for :platform do |p|
    .field
      %label Площадка
      = p.select(:name, Tarif.uniq.pluck(:platform).map {|platform| [platform, platform, data:{number:platform}]}, selected:f.object.platform)
    -if current_user.is_admin? || current_user.is_agent?
      = f.fields_for :tarif do |p|
        .field.short
          %label Тариф
          = p.select(:name, Tarif.uniq.pluck(:type_t).map {|platform| [platform, platform, data:{number:platform}]}, selected:f.object.tarif)