/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

$header-height: 130px;
$footer-height: 90px;

html,
body{
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #999999;
}

.page-wrap{
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: $footer-height;
}

* html .page-wrap {
  height: 100%;
}

header{
  position: relative;
  height: $header-height;
  background-color: darkslategrey;
}

.page-title{
  position: absolute;
  bottom:0;
  color:#f2f2f2;
  font-size:20px;
  margin: 0 0 20px 0;
}


footer{
  position: relative;
  height:$footer-height;
  margin-top: -$footer-height;

  pre{
    background-color: transparent;
    border: none;

  }
}


@import "welcome";