/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //= require bootstrap
 //= require_tree .
 //= require_self
 */



$header-height: 130px;
$footer-height: 90px;

$body_bg:#bbbbbb;

html,
body{
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $body_bg;
}

html{
  overflow-y: scroll;
}

.container{
  position: relative;
  min-height: 100%;
}

.page-wrap{
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: $footer-height;
}

* html .page-wrap {
  height: 100%;
}

header{
  position: relative;
  height: $header-height;
  background-color: darkslategrey;

  .logo{
    display: block;
    position: relative;
    float: left;
    width:50px;
    height: 50px;
    top:-3px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;

    img{
      position: relative;
      width:100%;
      height: auto;
    }
  }

  .user-info{
    position: relative;
    float:left;
    top:3px;
    left:30px;
    color:#fff;
    font-size: 11px;
    color:lighten(darkseagreen, 20%);

    .login{
      color:#fff;
    }
  }
}



.main-menu{
  position: relative;
  float:right;

  ul{
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  li{
    display: inline-block;
    margin-left: 1px;
  }

  a{
    display: block;
    padding: 10px 40px;
    font-size: 12px;
    color:#000;
    background-color: darkseagreen;
    border-radius: 0 0 3px 3px;
    transition: all 0.3s ease 0.0s;

    &.active,
    &:hover{
      text-decoration: none;
      padding-bottom: 11px;
      background-color: lighten(darkseagreen, 20%);
      transition: all 0.3s ease 0.0s;
    }
  }
}

main{
  margin-bottom: 15px;
}

.page-title{
  position: absolute;
  bottom:0;
  color:#f2f2f2;
  font-size:18px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-family: Helvetica, Arial, Sans-Serif;
}

.alert-notice{
  background-color: darkseagreen;
}

.indicator{
  position: absolute;
  width:170px;
  height: 11px;
  line-height: 11px;
  bottom:10px;
  left:2px;
  background-image: asset_url('ajax-loader.gif');
  background-repeat: no-repeat;

  &.message{
    font-size: 12px;
    text-align: left;
    background-image: none;
    width:300px;
  }
}

.simple-list{
  position: relative;
  width:100%;
  margin-top: 15px;
  border-collapse: collapse;

  caption{
    margin: 0 0 15px 0;
    caption-side: top;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }

  thead th{
    font-size: 12px;
    text-align: center;
    padding: 5px 15px;
    background-color: #DADADA;
    border:1px solid #c0c0c0;
  }

  tbody{

    .in-mfo,
    .selected{
      background-color: darkseagreen;
    }

    td{
      padding: 5px 10px;
      font-size: 13px;
      text-align: center;
      border:1px solid #e0e0e0;
      border-top: none;
    }
    td.date{
      font-size: 12px;
      font-weight: bolder;
    }
  }

  &.orders tbody tr:first-child{
    background-color: lighten(darkseagreen, 15%);
  }

}

footer{
  position: relative;
  height:$footer-height;
  margin-top: -$footer-height;

  pre{
    background-color: transparent;
    border: none;

  }
}

a:focus{
  outline: none;
}

.modal-body{
  padding: 15px;
}