// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.alert{
  border-radius: 0 0 4px 4px;
}

form{
  position: relative;
  margin: 20px 0;

  .tab-pane{
    position: relative;
    min-height: 300px;
  }

  .field{
    position: relative;
    box-sizing: border-box;
    width:250px;
    margin:0 0 10px 0;

    &.but{
      width:30px;
      text-align: center;
      input[type=text]{
        text-align: inherit;
      }
    }

    &.small{
      width:70px;
      text-align: center;
      input[type=text]{
        text-align: inherit;
      }
    }

    &.short{
      width:170px;
      text-align: center;
      input[type=text]{
        text-align: inherit;
      }
    }

    &.long{
      width:505px;
      text-align: left;
      input[type=text]{
        text-align: inherit;
      }
    }

    &.button-right{
      width:100%;
      text-align: right;
    }

    &.submit{
      margin-top: 30px;
    }
  }

  .field-group{
    position: relative;
    box-sizing: border-box;
    width:523px;
    margin: 30px 0;
    background-color: darken(#bbbbbb, 5%);
    padding: 5px 0 5px 10px;
    border-radius: 3px;

    .title{
      font-weight: bolder;
      font-size: 18px;
      margin-top: 5px;
      margin-right: 10px;
      padding: 5px;
      text-transform: uppercase;
      background-color: darkseagreen;
      border-radius: 3px;
    }

    .sub-group{
      position: relative;
      margin-top: 30px;
    }
  }

  .field-submit{

  }

  .radio-group{
    position: relative;
    margin-bottom: 30px;
  }

  label{
    display: block;
    position: relative;
    margin:0 0 2px 0px;
    font-size: 11px;
    color:#323232;

    &.control-label{
      display: none;
    }
  }

  input[type=text],
  input[type=date],
  input[type=number],
  input[type=tel],
  input[type=email],
  input[type=password],
  input[type=file],
  select{
    position: relative;
    width: 100%;
    height:28px;
    font-size: 13px;
    padding: 0 7px;
    border:none;
    border-radius:3px;



    &.wait-data{
      color:#fff;
      transition: color 0.5s ease 0.0s;
    }

    &.fill-data{
      color:#000;
      transition: color 0.5s ease 0.0s;
    }
  }


  .help-block{
    font-size: 13px;
    color: darkred;
  }

  .del{
    position: relative;
    margin-right: 10px;
    background: transparent;
    border: none;
    color:red;
    font-size: 21px;
    line-height: 21px;
  }

  .check{
   margin-right: 10px;
  }
}

#add-document{
  position: relative;
  margin-top: 30px;
  z-index: 3;
}

.guarantor-tabs{

  a{
    padding-right: 30px;
    padding-left: 30px;

  }



  .tab-closer{
    display: none;
    position: absolute;
    z-index: 2;
    right:10px;
    cursor: pointer;
  }

  .active .tab-closer{
    display: block;
  }

  .add-tab{
    float:left;
    margin-bottom: 0px;
    a{
      padding-left: 20px;
      padding-right: 20px;
      background-color: #ddd;
      border:none;
      cursor: pointer;
      transition: all 0.3s ease 0.0s;

      &:hover{
        background-color: lighten(darkseagreen, 20%);
        transition: all 0.3s ease 0.0s;
      }
    }
  }

}


aside.ajax-form-block{
  display: block;
  width:100%;
  height:50px;
  background-color: orange;
}
