// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.order-menu{
  display: block;
  position: absolute;
  right:15px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;

  li{
    position: relative;
    display: inline-block;
    *zoom:1;
    vertical-align: top;
  }

  a{
    display: block;
    padding: 7px 15px;
    margin-left: 1px;
    background-color: darkslategrey;
    color:#fff;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0.0s;

    &:hover{
      background-color: lighten(darkslategrey, 10%);
      text-decoration: none;
      transition: all 0.3s ease 0.0s;

    }
  }
}


.nav-tabs{
  li{
    a{
      color: inherit;
    }

    .badge{
      display:block;
      position: absolute;
      top:2px;
      right:4px;
      font-size: 9px;
      padding: 2px 5px;
      background-color: darkred;
      color: #fff;
    }

  }

  li.active{
    a,
    a:hover,
    a:focus{
      border-right: none;
      border-left: none;
      border-top: none;

    }

  }
}


.order-form{
  position: relative;
  margin-top: 30px;

}

.calc{
  position: relative;

  .title{
    margin: 30px 0 10px 0;
  }
}

.tarif{
  position: relative;
  margin: 10px 0 30px 0;

  .title{
    font-size: 11px;
  }

  .title.agent_rate{
    margin-left: 180px;
  }

  .value{
    display: inline-block;
    width:40px;
    height: 30px;
    border-radius: 50%;
    background-color: #999;
    font-size: 11px;
    color:#fff;
    text-align: center;
    line-height: 30px;
  }
}

.borrower-founders{

  .item{
    margin-bottom: 30px;
  }
}