// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.order-menu{
  display: block;
  position: absolute;
  right:15px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;

  li{
    position: relative;
    display: inline-block;
    *zoom:1;
    vertical-align: top;
  }

  a{
    display: block;
    padding: 7px 15px;
    margin-left: 1px;
    background-color: darkslategrey;
    color:#fff;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease 0.0s;

    &:hover{
      background-color: lighten(darkslategrey, 10%);
      text-decoration: none;
      transition: all 0.3s ease 0.0s;

    }
  }
}

.order-form{
  position: relative;
  margin-top: 30px;

}

.tarif{

  .title{
    font-size: 11px;
  }

  .value{
    display: inline-block;
    width:40px;
    height: 30px;
    border-radius: 50%;
    background-color: #999;
    font-size: 11px;
    color:#fff;
    text-align: center;
    line-height: 30px;
  }
}
