table.user-list{
  position: relative;
  width:100%;
  border-collapse: collapse;


  td{
    padding: 5px;
    border:1px solid lightgray;

    &.edit{
      text-align: center;
    }
  }

  thead{
    td{
      background-color: gray;
    }

  }

  tbody{
    td{

    }
  }
}

.add-user{
  position: relative;
  margin-top: 20px;
}